body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.restaurant-list {
    margin-right: 20px;
}

.restaurant {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant h2 {
    margin: 0;
}

.restaurant button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.restaurant button:hover {
    background-color: #555;
}

.map-container {
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    max-width: 100%;
    height: auto;
}

.chat-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.chat-message {
    background-color: #444;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}